.custom-container {
    margin: 25% auto;
    position: relative;
    width: 500px;
}
@media (max-width: 768px) {
    .custom-container {
        margin: 73% auto;
        position: relative;
        width: 344px;
    }
}